@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    font-family: 'Yantramanav', sans-serif;
}

.container{
    width: 65%;
    margin: 0 auto;
}

/* header elements */
/* navbar */
header nav{
    background-color: #265EE9;
}


header nav div.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block:1em;
}

header nav ul.links{
    display: flex;
    align-items: center;
    gap: 2.7em;
}

header nav ul li{
    list-style-type: none;
}

header nav ul li a{
    color: white;
    text-decoration: none;
}

header nav a.login-button{
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.5em 0.8em;
    border-radius: 50px;
    border: 1px solid #0048DD;
}

/* cta - banner */
header div#cta{
    background-image: url(./img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
}


header div#cta div.container{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding-block: 5em;
    color: white;
    

}

header div#cta h1{
    font-size: 3.5em;
}

header div#cta p{
    padding: 2em 0 1em 0;
    line-height: 1.7em;
}

header div#cta div.cta-buttons{
    padding: 0.5em 0 5em 0 ;
}

header div#cta div.cta-buttons button{
    background-color: white;
    padding:1em 2em;
    border-radius: 50px;
    border: none;
    margin-left: 1em;
    font-size: 0.8em;
    font-weight: bold;
}
header div#cta div.cta-buttons button:first-child::before,
.purple-b::before{
    content:"\2193";
    padding-right:0.5em;

}
header div#cta div.cta-buttons button:last-child{
    background-color: black;
    color: white;
}

/* main sections */

/* img reset */
img{
    display: block;
}

section.rows div.flexed{
    display: flex;
    justify-content:space-between;
    padding-block: 5em;
}
section.rows div.text-area{
    max-width: 25%;
}

section.rows div.container figure{
    max-width: 75%;
}


section.rows div.text-area h3,
main section:last-child h3{
    font-size: 2.5em;
}
section.rows div.text-area p{
    line-height: 1.5em;
    padding-block: 1em;
}

main section.rows:nth-child(even){
    background-color: #F6F6F6;
}

main section.rows:nth-child(even) figure{
    order:1;
}

/* wave svg rotator */
section.rows .wave{
    rotate: 180deg;
}

/* last section */
main section:last-child{
    text-align: center;
    background-color: #F6F6F6;
    padding: 3em 0 6em 0;
}
main section:last-child h3{
    line-height: 2em;
}
main section:last-child p{
    line-height: 1.5em;
}
main section:last-child figure img{
    width: 100%;
    padding-bottom: 1em;
}

section:last-child div.stars{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

section:last-child div.stars h4{
    margin-top: -0.8em;
    font-size: 1.5em;
}
section:last-child div.stars img{
    width: 45%;
}

button.purple-b{
    background-color: #8FA1E1;
    color: white;
    text-decoration: none;
    padding: 0.8em 2.3em;
    border-radius: 50px;
    border: 1px solid #0048DD;
    font-weight: bold;
}

